<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDKXXPwzU7k-Jiaqx0P3p0OikKrVL3Q5I</string>
	<key>GCM_SENDER_ID</key>
	<string>252148386800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.commerceBlue.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>commerce-blue</string>
	<key>STORAGE_BUCKET</key>
	<string>commerce-blue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252148386800:ios:ffefae0fefb425ad7b2b35</string>
</dict>
</plist>